.cards-recetas1{
    justify-content: center;
}

#recetas-seccion{
    background-color: $color-4;
    @include padding-display;
    .cards-recetas{
        width: 200px;
        height: 300px;
        background-color: $color-3;
        border-radius: 10px;
        margin: 16px;
        margin-top: 1vh;
        box-shadow: 2px 2px 3px rgb(45, 63, 46);
    
        img{
            height: 250px;
            width: 300px;
            overflow: hidden;
        }
    
        p{
            padding-left: 8px;
            color: $color-4;
            @include text-hight-align;
        }
    }
}

.card-principal-recetas{
    img{
        border-radius: 10px;
        box-shadow: 2px 2px 3px rgb(190, 188, 188);
    };
    margin: 0 auto;
}
